GDAL==1.11.0
SocksiPy-branch==1.01
boto==2.30.0
cffi==0.8.6
crcmod==1.7
cryptography==0.5.2
gcs-oauth2-boto-plugin==1.7
google-api-python-client==1.2
gsutil==4.4
httplib2==0.9
numpy==1.8.1
pyOpenSSL==0.14
pycparser==2.10
python-gflags==2.0
retry-decorator==1.0.0
six==1.7.3
wsgiref==0.1.2
elasticsearch==1.1.1
requests==2.3.0
urllib3==1.9
