// Fonts
$font-body: freight-sans-pro, 'helvetica neue', Helvetica, Arial, sans-serif;
$font-heading: $font-body;
$font-monospace: 'mplus-1m', 'Source Code Pro', Consolas, monospace;

// Colors
$color-base: #444;
$color-base-dark: #222;
$color-blue: rgb(0, 0, 238);
$color-blue-light: #4D97E0;
$color-grey: #f8f8f8;
$color-red: #ff0000;

// Scale
$ms-base: 1em;
$ms-ratio: $fourth;
